/* Main CSS file for santi.com */

/*

	Extra Small <576px  			col
	Small		>=576px and <768px	col-sm-
	Medium		>=768px and <992px	col-md-
	Large		>=992px and <1200	col-lg-
	Extra Large	>1200px				col-xl-
	


*/

body { font-family:Verdana, Arial, sans-serif; font-size: 12pt;}

p { font-size: 1em; }

.mainContainer {}

.sidebarContainer{}

.applicationTitle{
	font-size: 4em; 
	text-align: center;
}

.applicationTitleSmall{
	font-size: 3em; 
	text-align: center;
}

.avatarImage{
	width: 30px;
}

.boldText{
	font-weight: bold;
}

.colorRed{
	color: #f44259;
}

.errorField{
	border-color: #f44259;
}

.topMargin10{
	margin-top: 10px;
}

.topMargin5{
	margin-top: 5px;
}

.topMargin0{
	margin-top: 0px;
}

.rightMargin10{
	margin-right: 10px;
}

.rightMargin5{
	margin-right: 5px;
}

.rightMargin0{
	margin-right: 0px;
}

.bottomMargin5 {
	margin-bottom: 5px;
}

.bottomMargin10 {
	margin-bottom: 10px;
}

.bottomMargin0 {
	margin-bottom: 0px;
}

.leftMargin25 {
	margin-left: 25px;
}

.leftMargin10 {
	margin-left: 10px;
}
 
.leftMargin5 {
	margin-left: 5px;
}

.leftMargin0 {
	margin-left: 0px;
}

.bigCheckbox, .bigRadio {
	width: 30px; height: 30px;
}

.leftAlign {
	text-align: left;	
}

.recordInactive {
	background-color: #efacac !important;
}

.recordHeader {
	background-color: #a8ecf7 !important;
}

.userBlocked {
	background-color: #f7c994 !important;
}